.links {  /*div links*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
    gap: 22px;
    padding-right: 40px;
}

.link {   /*links in div links*/
    text-decoration: none;
    color: #0072BC;
    font-size: 22px;
    transition: transform 0.2s;
}

.link:hover {
    transform: scale(
      1.1
    );
}
.container {     /*header container*/
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {      /*header? pls clarify*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    
}

.logo {
    width: 150px;
    
}

.content {
    width: 100%;
    background-color: white;
}
