.links {  /*div links*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 100%;
    padding-top: 15px;
}

.link {   /*links in div links*/
    text-decoration: none;
    font-size: 20px;
    font-family: "GT Eesti Display";
    color: white;
    transition: transform 0.2s;
    src: url("../pages/assets/fonts/GT-Eesti-Display-Regular-Trial.otf") format("truetype");
}

.link:hover {
    transform: scale(
      1.1
    );
}
.container {     /*header container*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {      /*header? pls clarify*/
    display: flex;
    background-color: #2F374F;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding-bottom: 15px;
    
}

.content {
    width: 100%;
}
/* opacity: 0.5;
 */