.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 6; }

.prompts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.chatroom {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
}

.chatSection {
    margin-top: 50px;
    background-color: #2F374F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
    width: 90%;
    /*drop shadow*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    height: 5vh;
    bottom: 0;
    background-color: #D3D3D3;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: stretch;
}

.form-button {
    width: 20%;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: rgb(146, 166, 255);
    border: none;
}


.input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    padding: 0 10px;
}

.button {
    background-color: #282c34;
    /* Green */
    font-family: 'Roboto', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
}


.ul, li {
    text-align: left;
    list-style: none;
}

.p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}


.sent {
    flex-direction: row-reverse;
}

.sent p {
    border-radius: 25px;
    color: white;
    background: #0b93f6;
    align-self: flex-end;
    padding: 10px;
    
}

.name{
    padding-left: 100px;
    padding-right: 100px;
}
.received p {
    background: #e5e5ea;
    color: black;
    padding: 10px;
    border-radius: 25px;
}

.img {
    padding-left: 10px;
    padding-right: 10px;
    width: 60px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}